*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 400px;
  width: 500px;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}


.product-img{
  height: 400px;
  border-radius: 10px;
}

.right-side{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-side h2{
  font-size: 30px;
}

.cart-btn{
  background-color: hsl(158, 36%, 37%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.cart-btn:hover{
  background-color: hsl(158, 50%, 37%);
}
